<form role="form">
    <h3 class="my-5">
        Please register!
    </h3>

    <div class="col-6">
        <div class="row g-2">
            <div class="col-12">
                <label class="form-label">Full Name</label>
                <input class="form-control"/>
            </div>
            <div class="col-12">
                <label class="form-label">Email</label>
                <input class="form-control"/>
            </div>
            <div class="col-12">
                <label class="form-label">Password</label>
                <input type="password" class="form-control"/>
            </div>
            <div class="col-12">
                <label class="form-label">Repeat Password</label>
                <input type="password" class="form-control"/>
            </div>
            <div class="col-12">
                <label class="form-label">Age</label>
                <input class="form-control"/>
            </div>
            <div class="col-12">
                <label class="form-label">CNP</label>
                <input class="form-control">
            </div>
            <div>
                <button type="submit" class="btn btn-primary"><strong>Register</strong></button>
            </div>
        </div>
    </div>
</form>
